.print-card{
    position: absolute;
    direction: rtl;
    .category{
        position: relative;
        left: 6cm;
        top: .6cm;
        width: 4cm;
        height: 0.5cm;
    }
    .year{
        position: relative;
        left: 6cm;
        top: 1.35cm;
        width: 4cm;
        height: 0.5cm;
    }
    img.photocase{
        position: relative;
        left: 5.8cm;
        top: 1.5cm;
        width: 3cm;
        height: 3cm;
        border-radius: 50%;
    }
    .team{
        position: relative;
        top: 1.65cm;
        left: 5.5cm;
        height: .5cm;
        width: 5cm;
    }
    .name{
        position: relative;
        top: 1.85cm;
        left: 5.5cm;
        height: .5cm;
        width: 5cm;
    }
    .surname{
        position: relative;
        top: 2.02cm;
        left: 5.5cm;
        height: .5cm;
        width: 5cm;
    }
    .post{
        position: relative;
        top: 2.15cm;
        left: 5.5cm;
        height: .5cm;
        width: 5cm;
    }
    .birthdate{
        position: relative;
        top: 2.4cm;
        left: 5.5cm;
        height: .5cm;
        width: 5cm;
    }
    .code{
        position: relative;
        top: 2.5cm;
        left: 5.5cm;
        height: .5cm;
        width: 5cm;
    }
    .tShirt{
        position: relative;
        top: 2.6cm;
        left: 8cm;
        height: .5cm;
        width: 5cm;
        font-size: 44px;
        img{
            width: 2.5cm;
            height: 2.5cm;
        }
        p {

            font-size: 16px;
        }
        span{
            position: absolute;
            left: 3.2cm;
            top: .8cm;
            color: gray;

        }
    }
}

*{
    direction: rtl !important;
}